app/views/layouts/menu.php
public/assets/bootstrap-icons/fonts/VincentCinemas_structure.txt
public/assets/bootstrap-icons/VincentCinemas_structure.txt
public/assets/bootstrap/css/VincentCinemas_structure.txt
public/assets/bootstrap/js/VincentCinemas_structure.txt
public/assets/bootstrap/VincentCinemas_structure.txt
public/assets/boxicon/.github/VincentCinemas_structure.txt
public/assets/boxicon/css/VincentCinemas_structure.txt
public/assets/boxicon/dist/VincentCinemas_structure.txt
public/assets/boxicon/fonts/VincentCinemas_structure.txt
public/assets/boxicon/iconjar/VincentCinemas_structure.txt
public/assets/boxicon/src/VincentCinemas_structure.txt
public/assets/boxicon/svg/VincentCinemas_structure.txt
public/assets/boxicon/VincentCinemas_structure.txt
public/assets/boxicons-free/free/LICENSE.txt
public/assets/boxicons-free/free/VincentCinemas_structure.txt
public/assets/boxicons-free/VincentCinemas_structure.txt
public/assets/chart.js-4.5.1/auto/VincentCinemas_structure.txt
public/assets/chart.js-4.5.1/VincentCinemas_structure.txt
public/assets/css/VincentCinemas_structure.txt
public/assets/images/VincentCinemas_structure.txt
public/assets/js/VincentCinemas_structure.txt
public/assets/VincentCinemas_structure.txt
public/loading/VincentCinemas_structure.txt
public/uploads/VincentCinemas_structure.txt
